|import #{UpperComponent} from './#{component}.jsx';
|
|#{UpperComponent}.name = 'U#{UpperComponent}';
|
|#{UpperComponent}.install = (app) => {
|    app.component(#{UpperComponent}.name, #{UpperComponent});
|};
|
|export default #{UpperComponent};
